@font-face {
    font-family: 'Sunkissed';
    src: url('./fonts/Sunkissed.ttf') format('truetype');
}

* {
    text-align: center;
}

.cabecalho {
    background-color: #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
    border-radius: 6px;
    padding: 10px;
    font-size: 28px;
    letter-spacing: 4px;
    color: #2E2E2E;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-family: 'Sunkissed', sans-serif;
}

.App {
    background-color: #fffeff;
    padding: 20px;
    font-family: 'Poppins';
    max-width: 900px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-texto,
.historico-display {
    letter-spacing: 3px;
    color: #333333;
    font-weight: 600;
    line-height: 1.7;
    margin-left: 5%;
    margin-right: 5%;
    list-style: none;
}

.nav-links {
    bottom: 0;
    padding: 10px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.botao-link {
    background-color: #dddddd;
    border-style: solid;
    border-color: #dadada;
    border-radius: 4px;
    text-decoration: none;
    width: 350px;
    height: 54px;
    margin-top: 10%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-right: 4%;
    margin-left: 3.5%;

    
    
    color: #2E2E2E;
    font-family: 'Poppins';
    letter-spacing: 4px;
    font-weight: 900;
    line-height: 1.7;
    list-style: none;
    font-size: 102%;
}

 Link {
    text-decoration: none;
    color: #2E2E2E;
    font-family: 'Poppins';
    letter-spacing: 4px;
    font-size: 120%;
    font-weight: 900;
    line-height: 1.7;
    list-style: none;
 }

 .iniciar-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.iniciar-button:hover {
    background-color: #45a049;
}

.iniciar-button-disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.parar-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.parar-button:hover {
    background-color: #d32f2f;
}

.parar-button-disabled {
    background-color: #ef9a9a;
    cursor: not-allowed;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}